

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.flip {
	-webkit-perspective: 800;
	height: 100px;
	position: relative;
	margin: 50px auto;
}

.flip .card.flipped {
	-webkit-transform: rotatex(-180deg);
}

.flip .card {
	height: 100%;
	margin: 5px;
	text-transform: uppercase;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 1s;
}

.flip .card .face {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden ;
	z-index: 2;
	font-size: 1em;
	text-align: center;
	line-height: 100px;
}

.flip .card .front {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	cursor: pointer;
	border: 1px solid white;
}

.flip .card .back {
	-webkit-transform: rotatex(-180deg);
	background: blue;
	background: white;
	color: black;
	cursor: pointer;
	border: 1px solid black;
}

.flip .card .matched {
	background-color: none;
	border: none;
}

.flip .card .fadeout {
	color: #999;
	background-color: #EEE;
	border: none;
}

/* ==========================================================================
   Online users
   ========================================================================== */

.users {
	position: fixed;
	display: block;
	margin: 5px 0 0 0;
	padding: 0 10px;
	bottom: 0;
	right: 0;
	text-align: left;
	z-index: 3;
	background-color: #EEE;
}

.users h1 {
	width: 200px;
	font-size: 1.3em;
	display: inline;
}

.users .user {
	display: block;
}

.minimize {
	display: inline-block;
	font-weight: bold;
	font-size: 25px;
	padding: 0 10px;
	margin: 5px 2px;
	cursor: pointer;
}

.minimize:hover {
	background-color: #DDD;
}